@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}

.bg-color{
    background-color: rgb(18, 19, 45);
}
.bg-btn{
    background-color: rgb(121, 125, 252)
}